Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  performance-*,
  -performance-no-int-to-ptr,
  modernize-use-nullptr,
  modernize-use-override,
  readability-redundant-*,
  misc-unused-*

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*\.h$'
FormatStyle: file
ExtraArgs: ['-std=c++20']
